/* From Uiverse.io by WhiteNervosa */
.button-underline {
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button-underline:focus,
.button-underline:hover {
  color: #45454e;
}

.button-underline:focus:after,
.button-underline:hover:after {
  width: 100%;
  left: 0%;
}

.button-underline:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: black;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
