@layer base, demo;
@import url(https://fonts.bunny.net/css?family=abel:400);

@layer demo {
  .carousel-estrutura-responsive {
    --items: 5;
    --carousel-duration: 40s;
    @media (width > 600px) {
      --carousel-duration: 30s;
    }
    --carousel-width: min(
      100vw,
      100%
    ); 
    --carousel-item-width: 100%;
    --carousel-item-height: 300px;
    --carousel-item-gap: 2rem;

    position: relative;
    width: var(--carousel-width);
    height: var(--carousel-item-height);
    overflow: clip;

    &[mask] {
      mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
      );
    }

    &[reverse] > article {
      animation-direction: reverse;
    }
    &:hover > article {
      animation-play-state: paused;
    }
  }
  .carousel-estrutura-responsive > article {
    margin-top: 19px;
    position: absolute;
    top: 0;
    left: calc(100% + var(--carousel-item-gap));
    width: var(--carousel-item-width);
    display: grid;
    
    will-change: transform;
    animation-name: marquee;
    animation-duration: var(--carousel-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(
      var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
    );
    &:nth-child(1) {
      --i: 0;
    }
    &:nth-child(2) {
      --i: 1;
    }
    &:nth-child(3) {
      --i: 2;
    }
    &:nth-child(4) {
      --i: 3;
    }
    &:nth-child(5) {
      --i: 4;
    }
    &:nth-child(6) {
      --i: 5;
    }
    &:nth-child(7) {
      --i: 6;
    }
    &:nth-child(8) {
      --i: 7;
    }
  }

  @keyframes marquee {
    100% {
      transform: translateX(
        calc(
          (
              var(--items) *
                (var(--carousel-item-width) + var(--carousel-item-gap))
            ) * -1
        )
      );
    }
  }
}

/* general styling */
@layer base {
  * {
    box-sizing: border-box;
  }
  :root {
    color-scheme: light dark;

    --bg-dark: rgb(2, 6, 24);
    --bg-light: rgb(229, 229, 229);
    --txt-light: rgb(10, 10, 10);
    --txt-dark: rgb(245, 245, 245);
  }
}


@media (max-width: 768px) {
  .carousel-estrutura-responsive {
    animation: none;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 1rem;
    mask-image: none;
  }

  .carousel-estrutura-responsive::-webkit-scrollbar {
    display: none;
  }

  .carousel-estrutura-responsive > article {
    position: relative;
    animation: none;
    flex: 0 0 auto;
    width: 90vw; 
    scroll-snap-align: center; 
    left: unset;
    display: flex;
    justify-content: center;
  }

  .foto, .card, .image img {
    width: 100%;
    height: auto;
  }

  .card {
    max-width: 90vw;
    height: auto;
  }
}
