.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 650px !important; 
  height: 350px !important;
  flex-shrink: 0;
  display: flex;
  background-color: #f7f7f7;
  border-radius: 12px;
}

/* Navegação */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

@media (max-width: 680px) {
  .swiper-slide {
  width: 90% !important; 
  height: 400px !important;
  }
}

